<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Lista de Filmes</title></head>
<link rel="stylesheet" th:href="@{/estilos.css}">
<body>
    <button id="botao-tema">Alternar Tema</button>
    
    <h1>Filmes Cadastrados</h1>
    <a th:href="@{/filmes/novo}">Cadastrar Novo</a>
    <ul>
        <li th:each="filme : ${filmes}">
            <span th:text="${filme.titulo} + ' (' + ${filme.ano} + ') - ' + ${filme.genero}"></span>
        </li>
    </ul>
    
    <script th:src="@{/tema.js}"></script>
</body>
</html>
